<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
  <meta charset="{{ site.charset }}">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
  {{ wp_head }}
</head>
<body class="{{ body_class }}">

  <header class="header">
    <a class="header__logo" href="/" title="{{ site.name }}">{{ site.name }}</a>
    {% include 'partial/nav-primary.twig' with { items: menus.primary.items } %}
  </header>

  <main class="main">
  {% block content %}
    <article class="post post_empty">
      <p>{{ __('Sorry, no content.', 'WordPressBP') }}</p>
    </article>
  {% endblock %}
  </main>

  {% if sidebar is defined and sidebar %}
    <aside class="aside">{{ sidebar }}</aside>
  {% endif %}

  {{ wp_footer }}
</body>
</html>
