<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
  <meta charset="{{ site.charset }}">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
  {{ wp_head }}
</head>
<body class="{{ body_class }}">

  <header class="header">
    <a class="header__logo" href="/" title="{{ site.name }}">{{ site.name }}</a>
    <nav class="header__nav nav-primary">
    {% spaceless %}
      <ul class="nav nav_lv1">
      {% for item in menus.primary %}
        <li class="{{ ['nav__item']|merge(item.classes)|join(' ') }}">
          <a class="nav__link" href="{{ item.link }}" target="{{ item.target }}">{{ item.title }}</a>
          {% if item.children %}
            <ul class="nav nav_lv2">
            {% for child in item.children %}
              <li class="{{ ['nav__item']|merge(child.classes)|join(' ') }}">
                <a class="nav__link" href="{{ child.link }}" target="{{ child.target }}">{{ child.title }}</a>
              </li>
            {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
      </ul>
    {% endspaceless %}
    </nav>
  </header>

  <main class="main">
    {% block content %}
      <article class="post post_empty">
        <p>{{ i18n.no_content }}</p>
      </article>
    {% endblock %}
  </main>

  {% if sidebar is defined and sidebar %}
    <aside class="aside">{{ sidebar }}</aside>
  {% endif %}

  {{ wp_footer }}
</body>
</html>
