<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
  <meta charset="{{ site.charset }}">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
  {{ wp_head }}
</head>
<body class="{{ body_class }}">
  {% include 'partial/header.twig' %}
  <main class="main">{% block content %}{% endblock %}</main>
  {% include 'partial/footer.twig' %}
  <script>window.WordPressBP=JSON.parse('{{ jsglobals|json_encode }}')</script>
  {{ wp_footer }}
</body>
</html>
