<!DOCTYPE html>
<html class="no-js" {{ site.language_attributes }}>
  <head>
    <meta charset="{{ site.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ function('wp_head') }}
    {% block head %}{% endblock %}
  </head>
  <body class="{{ body_class }}">

    <header class="header" role="banner">
      {% set op_tag = (title) ? 'div' : 'h1' %}
      <{{ op_tag }} class="logo"><a href="/" title="{{ site.name }}" rel="home">{{ site.name }}</a></{{ op_tag }}>
      <nav class="nav-primary" role="navigation">
        {% spaceless %}
        <ul class="nav">
          {% for item in primary_navigation.get_items %}
          <li class="nav-item {{ item.classes | join(' ') }}">
            <a class="nav-link" href="{{ item.get_link }}">{{ item.title }}</a>
            {% if item.get_children %}
            <ul class="nav nav-drop">
              {% for child in item.get_children %}
              <li class="nav-item">
                <a class="nav-link" href="{{ child.get_link }}">{{ child.title }}</a>
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
        {% endspaceless %}
      </nav>
    </header>

    <div class="body">

      <main class="main" role="main">
        {% if title %}<h1 class="main-title">{{ title }}</h1>{% endif %}
        {% block content %}
        <p>{{ i18n.no_content }}</p>
        {% endblock %}
      </main>

      {% if primary_sidebar %}
      <aside class="aside" role="complementary">
        {{ primary_sidebar }}
      </aside>
      {% endif %}

    </div>

    <footer class="footer" role="contentinfo">
    {% block footer %}{% endblock %}
    </footer>

    {{ function('wp_footer') }}
  </body>
</html>
