{% extends "base.twig" %}

{% block content %}
<article class="post post-{{ post.post_type }}">

  <header class="article-content">
    <h1 class="post-title">{{ post.title }}</h1>
    <p class="post-meta">
      <span class="date"><time datetime="{{ post.post_date|date('c') }}" pubdate>{{ post.post_date|date }}</time></span>
      <span class="author">{{ i18n.author }}: <a href="{{ post.author.path }}"> {{ post.author.name }}</a></span>
    </p>
  </header>

  <section class="post-content">
    {{ post.content }}
  </section>

  {% if post.comments %}
  <section class="post-comments">
    <h3 class="post-subsection-title">Comments</h3>
    {{ comment_form }}
    {% spaceless %}
    <div class="comment-list">
      {% for comment in post.comments %}
      <div class="comment comment-{{ comment.comment_type }}">
        <p class="comment-author">{{ comment.author.name }} says</p>
        <div class="comment-content">{{ comment.comment_content|wpautop }}</div>
      </div>
      {% endfor %}
    </div>
    {% endspaceless %}
  </section>
  {% endif %}

</article>
{% endblock %}
