{% extends "base.twig" %}

{% block content %}
<article class="post post_{{ post.post_type }}">
  <header class="post__header">
    <h1 class="post__title">{{ post.title }}</h1>
    <p class="post__meta">
      <span class="post__date"><time datetime="{{ post.post_date|date('c') }}" pubdate>{{ post.post_date|date }}</time></span>
      <span class="post__author"><a href="{{ post.author.path }}">{{ post.author.name }}</a></span>
    </p>
  </header>
  <section class="post__content">{{ post.content }}</section>
</article>
{% endblock %}
