{% extends "base.twig" %}

{% block content %}
<article class="article">
  <header class="article__header">
    <h1 class="article__title">{{ post.title }}</h1>
    <p class="article__meta">
      <time datetime="{{ post.post_date|date('c') }}" pubdate>{{ post.post_date|date }}</time>
      <a href="{{ post.author.path }}">{{ post.author.name }}</a>
    </p>
  </header>
  {{ post.content }}
</article>
{% endblock %}
